@import "_config.scss";

body{
    .container-fluid{

        .title{
           position: relative;
           padding-top: 5%;
           text-shadow: 0 30px 60px 0;
           
        }
      
       .poop{
           position: relative;
           margin-top: 10%;
           padding: 20px;
           width: 300px;
           left: 40%;  
           background: $lightGrey;
           box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
           
           
           .fadeIn1,.fadeIn2{
               background: $vanillaCust;

               &:hover{
                   background: lightblue;
                   color: black;
                @include transition(.4s ease-in-out);
               }
           }
       }
    } 
}


header{
    position: relative;
    display: block;
    width:100%;
    background: $black;
    color: $white;
    height: 90px;


    .logo{    
        position: absolute;
        top: 50%; right:10%;
        @include translateY(-50%);

    }
    

    nav{
        position: absolute;
        left:15px;
        @include translateY(50%);
    
        ul{
            list-style-type: none;     
        }
        

        ul li{
            
            display: inline-block;
            margin-right: 20px;
            
            a{            
                
                font-size: 25px;
                line-height: normal;
                color: $white;  
                

                &:hover{
                    text-decoration: none;
                    color: $red;


                }
            }
        }
    }
   
}